-screen a {
    display: contents;
    text-decoration: none;
}  
    .container-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    width: 100%;
    }   
    .container-center-horizontal > * {
    flex-shrink: 0;
    pointer-events: auto;
    }   
    -vector {
    background-color: #034c3c4c;
    border: 1.33px none;
    height: 639px;
    width: 119px;
    }