.footerimg {
  position: fixed;
  height: 150px;
  background-image: url(/src/assets/images/FOOTER-1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0px;
}
.fontBold {
  font-weight: bold;
  font-size: 1em !important;
}
footer.li {
  font-size: 0.8em !important;
}
#copy-right {
  font-size: 0.9em !important;
  margin-top: 1em;
}
