.report-card-container {
  padding-top: 0.8em;
  margin-right: 0.8em;
}
.report-card {
  background-color: white;
  box-shadow: 1px 1px 15px 1px #ebebeb;
  width: 90%;
  border-radius: 10px;
  padding: 0.3em;
}
#report-info {
  padding-bottom: 2%;
  padding-right: 2%;
  padding-left: 1%;
  margin-top: -1.5%;
}
.report-status-container {
  border-radius: 10px;
  width: 15%;
  padding: 0.1em 0.5em 0.1em 0.5em;
  margin-right: 0.2em;
  margin-top: -0.7em;
}
.pending {
  text-align: center;
  padding-top: 0.2em;
  background-color: rgba(242, 218, 120, 0.692);
}
.unsent {
  background-color: #e9e9e9;
  text-align: center;
  padding-top: 0.2em;
  color: #4d4d4d;
}
.under_processing {
  text-align: center;
  padding-top: 0.2em;
  background-color: #f6b694a9;
}
.closed {
  text-align: center;
  padding-top: 0.2em;
  background-color: #e4e9e4e8;
  color: var(--primary);
}
#delete-report-button {
  background-color: #b5864c !important;
  border-color: #b5864c !important;
}
#delete-report-button:hover {
  background-color: #9e7440 !important;
}
#details-button {
  background-color: var(--light_green);
  border-color: var(--light_green);
  margin-left: 5px;
}
.report-time {
  font-size: 16px;
  color: #8b8b8b;
}
