#title {
  text-align: right;
  padding-right: 3%;
  font-size: 26px;
  font-weight: 600;
}

#filter {
  text-align: right;
  font-size: 0.5em;
  padding-right: 4%;
  margin-top: 2%;
  margin-bottom: 1%;
}

.custom-input {
  border-radius: 10px;
  border: 0.3px white solid !important;
  padding: 4px 12px;
  margin-right: 4%;
  background-color: white;
  box-shadow: 0 0 2px var(--light_green);
}

.custom-input:focus {
  outline: none;
  border: 1px solid var(--light_green);
  box-shadow: 0 0 10px 2px var(--light_green);
}

#detection-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 15px 1px #ebebeb;
  height: 82%;
  margin-left: 3%;
  margin-right: 3%;
  font-size: 0.45em;
  text-align: right;
  display: flex;
  flex-direction: column;
}

#headings {
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 3%;
  font-weight: bold;
}

#detection-list {
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 10%;
}

#time {
  text-align: center;
  padding-right: 10rem;
}

#button-details {
  background-color: var(--light_green);
  border-color: var(--light_green);
  display: none;
}
#Col-button-details {
  text-align: left;
  padding-left: 3rem;
}
#row {
  padding: 0.4em;
}
#row:hover #button-details {
  display: inline-block;
}

#row:hover {
  background-color: #d2bda43d;
  border-radius: 10px;
}

#page-number {
  text-align: center;
  font-size: 0.9em !important;
}

#pagination button:hover {
  background-color: var(--light_green) !important;
  border-color: var(--light_green) !important;
  color: white;
}
#pagination {
  display: flex;
  justify-content: center;
  margin-top: 1%;
}

.No-data2 {
  text-align: center;
  font-size: 23px;
  color: rgba(128, 128, 128, 0.849);
  padding-top: 20%;
}

.divSizing-detection {
  height: 355px;
}
