.darkbtn{
    background-color: var(--primary) !important;
}
.smallcard{
    width: 20rem;
}
.card-img-top {
    position: absolute;
    top: -30px;
    /* left: 50%; */
    margin-left: -30px;
    height: 100px;
    width: 100px !important;
  }
  .divSizing{
    height: 500px;

  }
/*   
  .card {
    margin-top: 30px;
    padding-top: 30px;
    
  } */
  .avatar-container {
    width: 90%;
    /* border: 1px solid #eee; */
  }
/*  

  .image {
     /* margin-top: -150px;  */
     /* height: 100px;
     width: 100px !important;

  }  */ 

#button-details2 {
  background-color: var(--light_green);
  border-color: var(--light_green);
}
.biggerImg{
  width: 140px !important;
  height: 140px;
}
.nameDown{
  margin-top:5rem !important ;
}