.darkbtn{
    background-color: var(--primary) !important;
}
.smallcard{
    width: 20rem;
}
.card-img-top {
    position: absolute;
    top: -30px;
    /* left: 50%; */
    margin-left: -30px;
    height: 100px;
    width: 100px !important;
  }
  .divSizing{
    height: 500px;

  }
/*   
  .card {
    margin-top: 30px;
    padding-top: 30px;
    
  } */
  .avatar-container {
    width: 90%;
    /* border: 1px solid #eee; */
  }
/*  

  .image {
     /* margin-top: -150px;  */
     /* height: 100px;
     width: 100px !important;

  }  */ 

#button-details2 {
  background-color: var(--light_green);
  border-color: var(--light_green);
}
.biggerImg{
  width: 140px !important;
  height: 140px;
}
.nameDown{
  margin-top:5rem !important ;
}
.classButton2{
  background-color: var(--brown) !important;
border-color: var(--brown) !important;



}
.add-img{
   
  display: flex;
 
  position: absolute;
  margin-top: 110px;
  padding-left: 160px;
  

}
.classButton.btn{
  background-color: rgb(169, 34, 0) ;
}
.heading {
  font-size: 1.3rem;
  color: var(--primary);
}
.classLabel {
  padding-top: 0.5em;
    display: flex;
    width: 150px;
    text-align: right;
    font-size: 20px;
  }
  .deleteD.btn{
  background-color: rgb(169, 34, 0) ;
  color: white;
  border: none;
  display: flex;
  align-items: center;
}
.check-icon-active {
  color:var(--primary);
  position: absolute;
  top: -50px;
  height: 25px;
  width: 25px !important;
  right: 65% ;
  /* bottom: 100px; */
  /* left: 60%; */

}