
.classLabel {
    display: flex;
    width: 150px;
    text-align: right;
  }
 
  
  .classButton {
    background-color: var(--light_green) !important;
    border-color: var(--light_green) !important;
  }
  .classInput {
    border-color: var(--light_brown) !important;
  }
  .classInput::placeholder {
    color: var(--brown) !important;
  }
  .movingPhoto{
    animation: 30s -27s move infinite ease-in-out alternate-reverse;
    
  
  }
  @keyframes move {
    from {
      transform: rotate(400deg) scale(14) translateX(15px);
    }
    to {
      transform: rotate(0deg) scale(20) translateX(10px);
    }
  }
  
  .classInput:focus {
    outline: none !important;
    border: 0px !important;
    box-shadow: 0 0 10px var(--light_brown) !important;
    /* #ce9e71  */
  }
  
.pass-wrapper {
  position: relative;
  display: flex;
  /* margin-bottom: 14px; */
}
.showhide{
  position: absolute;
  top: 25%;
  left: 4%;
  width:15px;
}
