.hrLine2{
    top: 120px !important;
    border: 1px solid ;
    border-color: var(--primary);
    opacity: 60%;
    margin: auto;
    padding: 0;
    width:100%;
  }
  .brownShadow {
    box-shadow: 2px 3px 18px #d2bda4 !important;
  }