@font-face {
  font-family: 'Tajawal';
  src: local('Tajawal'), url('assets/fonts/Tajawal/Tajawal-Medium.ttf') format('truetype');
}
body {
  margin: 0;
  font-family: 'Tajawal', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  padding: 0;
}
:root{
  --primary: #034C3C;
  --light_green: #68836B;
  --brown: #B5864C;
  --light_brown: #D2BDA4;
  --very_light:rgba(104, 131, 107, 0.2);
  --light_grey: #F5F5F5
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
