.body {
  background-image: url(/src/assets/images/DRONE_ICON_BACKROUND.png);
 
  background-position: left; 
  background-repeat: no-repeat; 
  background-size: cover;
}
label {
    display: flex;
    /* width: 150px; */
    text-align: right;
}
.photoHere{
  background-image: url(/src/assets/images/DRONE_ICON_BACKROUND.png);
  /* background-color: rgb(220, 220, 220); */
  background-position:left; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size:contain; 
  /* height: 300px; */
}
.login-reset-button{
    background-color: var(--light_green) !important;
    border-color:var(--light_green) !important;
}
.photoHere {
  background-image: url(/src/assets/images/DRONE_ICON_BACKROUND.png);
  background-position: left;
  background-repeat: no-repeat; 
  background-size: contain;
   /* height: 300px;  */
}
.classButton {
  background-color: var(--light_green) !important;
  border-color: var(--light_green) !important;
}
.classInput {
  border-color: var(--light_brown) !important;
}
.classInput::placeholder {
  color: var(--brown) !important;
}

.classInput:focus {
  outline: none !important;
  border: 0px !important;
  box-shadow: 0 0 10px var(--light_brown) !important;
   /* #ce9e71  */
} 
