
label {
    display: flex;
    /* width: 150px; */
    text-align: right;
  }
  .photoHere{
    background-image: url(/src/assets/images/DRONE_ICON_BACKROUND.png);
    /* background-color: rgb(220, 220, 220); */
    background-position:unset; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size:contain; 
    /* height: 300px; */
  }
