/* .check-icon {
  color: var(--primary);
  margin-left: 0.2em;
}
button {
  background-color: var(--light_green) !important;
  border-color: var(--light_green) !important;
}
input {
  border-color: var(--light_brown) !important;
  text-decoration-color: var(--light_brown) !important;
}
input::placeholder {
  color: var(--brown) !important;
}

input:focus {
  outline: none !important;
  border: 0px !important;
  box-shadow: 0 0 10px var(--light_brown) !important;
  /* #ce9e71 
} */
