.App{
font-family: tajawal;

}
.he{

    height: 90%;
padding: 20px;
background-color: white;
}

.heading{
    font-size:1.5rem;
}

.container.time{
    font-size: 1.3rem;
    width: 60%;
    margin-left: 0!important;
    margin-right: 0!important;
}

.container.status{
    font-size: 50%;
    width: 30%;
    margin-left: 0!important;
    margin-right: 0!important;
}

.container.pic{
    width: 60%;
    height: 200px;
    margin-left: 0!important;
    margin-right: 0!important;
}

.hr{
    color: rgb(101, 101, 101);
    opacity: 10%;
    size: 5;
    width: 80%;
}
.notes{
   width: 80%;
   margin-left: 100px;
   font-size:1rem;
}
